[default]
aws_access_key_id = {{ aws_access_key_id_default }}
aws_secret_access_key = {{ aws_secret_access_key_default }}
[backup]
aws_access_key_id = {{ aws_access_key_id_backup }}
aws_secret_access_key = {{ aws_secret_access_key_backup }}
